$colors: (
    theme: (
        spindle-300: oklch(82.222% 0.05524 241.8),
        black-haze-50: oklch(97.865% 0.00181 249.239),
        petite-orchid-400: oklch(76.29% 0.09809 22.666),
        falcon-500: oklch(51.088% 0.02864 345.047),
        lavender-pink-300: oklch(81.264% 0.07812 344.18),
        lola-200: oklch(88.461% 0.01938 352.404),
        submarine-400: oklch(79.341% 0.01118 190.212),
    ),
    immobiliare: (
        black-rock-950: oklch(14.753% 0.08478 287.602),
        vista-white-50: oklch(97.788% 0.00409 55.493),
        off-white-50: oklch(99.806% 0.00175 322.561),
        froly-400: oklch(72.697% 0.17416 9.785),
        shady-lady-400: oklch(73.634% 0.00639 350.129),
    ),
    task-manager: (
        sapphire-800: oklch(46.967% 0.12481 269.974),
        picton-blue-400: #37c0f9,
        picton-blue-500: #19b2f2,
        dull-lavender-400: oklch(72.63% 0.13041 286.699),
        lightning-yellow-300: oklch(85.389% 0.15555 83.828),
    ),
    bootstrap: (
        body-color: oklch(91.088% 0.00706 248.24),
        body-bg: oklch(26.351% 0.01035 260.737),
        secondary-color: oklch(76.318% 0.00619 264.625),
        secondary-bg: oklch(34.556% 0.01475 252.351),
        primary: oklch(57.812% 0.22837 259.995),
        success: oklch(55.261% 0.12188 157.333),
        success-bg-subtle: oklch(20% 0.0353 165.161),
        danger: oklch(59.342% 0.20291 20.957),
        danger-bg-subtle: oklch(20.537% 0.05615 18.362),
        warning: oklch(84.415% 0.17221 84.956),
        warning-bg-subtle: oklch(27.89% 0.05475 90.124),
        info: oklch(77.5% 0.13793 218.107),
        light: oklch(98.164% 0.00181 249.244),
        dark: oklch(26.351% 0.01035 260.737)
    ),
    // Gradient combinations
    hyper-blue: (
        sky-blue-300: oklch(79.273% 0.11077 216.374),
        resolution-blue-900: oklch(33.811% 0.15996 264.367),
    ),
    by-design: (
        dodger-blue-500: oklch(82.713% 0.14202 214.613),
        red-ribbon-500: oklch(66.669% 0.22258 34.16),
    ),
    pizelex: (
        teal-blue-900: oklch(36.026% 0.06178 229.237),
        geraldine-400: oklch(76.309% 0.11397 21.339)
    ),
    // Primary Colors
    red: (
        red-50: oklch(97.1% 0.013 17.38),
        red-100: oklch(93.6% 0.032 17.717),
        red-200: oklch(88.5% 0.062 18.334),
        red-300: oklch(80.8% 0.114 19.571),
        red-400: oklch(70.4% 0.191 22.216),
        red-500: oklch(63.7% 0.237 25.331),
        red-600: oklch(57.7% 0.245 27.325),
        red-700: oklch(50.5% 0.213 27.518),
        red-800: oklch(44.4% 0.177 26.899),
        red-900: oklch(39.6% 0.141 25.723),
        red-950: oklch(25.8% 0.092 26.042),
    ),
    orange: (
        orange-50: oklch(98% 0.016 73.684),
        orange-100: oklch(95.4% 0.038 75.164),
        orange-200: oklch(90.1% 0.076 70.697),
        orange-300: oklch(83.7% 0.128 66.29),
        orange-400: oklch(75% 0.183 55.934),
        orange-500: oklch(70.5% 0.213 47.604),
        orange-600: oklch(64.6% 0.222 41.116),
        orange-700: oklch(55.3% 0.195 38.402),
        orange-800: oklch(47% 0.157 37.304),
        orange-900: oklch(40.8% 0.123 38.172),
        orange-950: oklch(26.6% 0.079 36.259),
    ),
    sapphire: (
        sapphire-300: oklch(81.38% 0.05886 253.344),
        sapphire-400: oklch(71.681% 0.09073 256.11),
        sapphire-500: oklch(62.959% 0.11948 261.73), 
        sapphire-600: oklch(55.547% 0.13924 265.834), 
        sapphire-700: oklch(50.289% 0.13985 268.012), 
        sapphire-900: lch(29.12% 32.84 288.18), 
        sapphire-950: oklch(29.653% 0.05408 271.115), 
    ),
    yellow: (
        yellow-50: oklch(98.7% 0.026 102.212),
        yellow-100: oklch(97.3% 0.071 103.193),
        yellow-200: oklch(94.5% 0.129 101.54),
        yellow-300: oklch(90.5% 0.182 98.111),
        yellow-400: oklch(85.2% 0.199 91.936),
        yellow-500: oklch(79.5% 0.184 86.047),
        yellow-600: oklch(68.1% 0.162 75.834),
        yellow-700: oklch(55.4% 0.135 66.442),
        yellow-800: oklch(47.6% 0.114 61.907),
        yellow-900: oklch(42.1% 0.095 57.708),
        yellow-950: oklch(28.6% 0.066 53.813),
    ),
    green: (
        green-400: oklch(79.2% 0.209 151.711),
        green-500: oklch(72.3% 0.219 149.579),
        green-600: oklch(62.7% 0.194 149.214),
        green-700: oklch(52.7% 0.154 150.069)
    ),
    picton-blue: (
        picton-blue-500: #19b2f2,
        picton-blue-600: #0187c8,
        picton-blue-700: #026ca2,
        picton-blue-800: #075b85,
        picton-blue-900: #0c4c6e,
        picton-blue-950: #083049,
    ),
    achromatic-colors: (
        blanco: oklch(100% 0.00011 271.152),
        gray-100: oklch(97.015% 0.00011 271.152),
        gray-200: oklch(92.494% 0.00011 271.152),
        gray-300: oklch(86.686% 0.0001 271.152),
        gray-400: oklch(71.547% 0.00008 271.152),
        gray-500: oklch(59.987% 0.00007 271.152),
        gray-600: oklch(44.226% 0.00005 271.152),
        gray-700: oklch(37.15% 0.00004 271.152),
        gray-800: oklch(27.274% 0.00003 271.152),
        gray-900: oklch(21.779% 0.00002 271.152),
        gray-950: oklch(14.958% 0.00002 271.152),
        negro: oklch(0% 0 0),
    ),


)