.todo {
    padding: 20px;
    /* flex stuff */
    display: flex;
    justify-content: center;
    flex-direction: column; 

    &__header {
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
        background: #00fff0;  /* fallback for old browsers */
        background: linear-gradient(to right, #0083fe, #00fff0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        color: transparent;
        background-size: 200%;

        animation: gradient 14s ease-in infinite alternate;
        @keyframes gradient {
            0% {
                background-position: 0%;
            }
            100% {
                background-position: 100%;
            }
        }
    }

    &__content-area {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        width: 600px;
        gap: 1rem;
    }

    &__form-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    &__input {
        padding: 12px;
    }

    &__submit-btn {
        background-color: oklch(72.697% 0.17416 9.785);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        text-transform: capitalize;
    }

    &__unordered-list {
        background-color: oklch(62.076% 0.20626 255.262);
    }
}