.welcome {
    height: 100vh;
    background: #59CDE9;  /* fallback for old browsers */
    background: linear-gradient(to left, #0A2A88, #59CDE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    background-position: 400%;
}